.collage{
  height: 40vh;
}

.img1, .img2{
  height: 41.3vh;
  padding: 0.2em;
  border: 0.5px solid #e61a5bd4;
  margin-bottom: 1.5vh;
  margin-top: 1.4vh;
}

.division{
  height: 10vh;
  margin-top: 1vh;
  background-color: #343C4F;
  line-height: 0;
}


.division img{
  width: 3.5em;
  margin-top: -15px;
  display: inline-block;
}

.division p{
  color: #FFF;
  font-size: 2.5em;
  margin-top: 4%;
  display: inline;
  line-height: 1.7;
}

.imgCont img {
  width: 80%;
  margin-top: 1.3vh;
  margin-bottom: 1.3vh;
}

.img1 img, .img2 img{
  height:40vh;
  width: 100%;
}

